# Data
data/*
!data/README.md
!data/*.md
!data/*.txt

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Outputs
logs/
outputs/
models/
*.pt
*.pkl

